

<div class="container maincontent" style="min-height: 404px;">





  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>Promo &amp; Sale</h1>
                <h2>form the Northpole</h2>
                <a class="btn btn-secondary home__button" href="/products/category/groceries-5/">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>Size &amp; Colours</h1>
                <a class="btn btn-secondary home__button" href="/products/category/apparel-6/">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>Digital Downloads</h1>
                <a class="btn btn-secondary home__button" href="/products/category/books-7/">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home__featured">
      <div class="space row"></div>
      <h2 class="text-center category-banner">Featured products</h2>
      <div class="product-slick row">
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
      </div>
      <div class="space row"></div>

      <h2 class="text-center category-banner">Fish products</h2>
      <div class="product-slick row">
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
        <%= render "shared/product" %>
      </div>
      <div class="space row"></div>

    </div>
  </div>

</div>
