<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="col-md-3">
      <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="well text-center">Ca</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding-left: 20px">> Ca thuy sinh</td>
          </tr>
          <tr>
            <td style="padding-left: 20px">> Ca bio top</td>
          </tr>
          <tr>
            <td style="padding-left: 20px">> Ca nuoc man</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-9">
    <%= render "shared/slide" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel-default">
      <div class="panel-body panel">
        <div class="col-md-3" >
          <!--<table class="table table-bordered">-->
            <!--<thead>-->
              <!--<tr>-->
                <!--<th class="well text-center">Ca</th>-->
              <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
              <!--<tr>-->
                <!--<td style="padding-left: 20px">> Ca thuy sinh</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td style="padding-left: 20px">> Ca bio top</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td style="padding-left: 20px">> Ca nuoc man</td>-->
              <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        </div>
        <div class="col-md-9">
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
            <%= render "shared/product" %>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>
