<div class="slider-iscanday col-md-12">
  <div class="js-iscanday iscanday-carousel">
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_01 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_02 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_03 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_04 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_05 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_06 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_07 %>
    </div>
    <div class="item">
      <%= image_tag Settings.slide_slick.slide.image_08 %>
    </div>
  </div>
</div>
