<div class="container maincontent" style="min-height: 387px;">
  <div class="row product">
    <div class="col-md-6 col-12 product__gallery">
      <div id="carousel-example-generic" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag @fish.image, class: "d-block img-fluid" %>
          </div>
          <div class="carousel-item">
            <%= image_tag @fish.image_1, class: "d-block img-fluid" %>
          </div>
          <div class="carousel-item">
            <%= image_tag @fish.image_2, class: "d-block img-fluid" %>
          </div>
          <div class="carousel-item">
            <%= image_tag @fish.image_3, class: "d-block img-fluid" %>
          </div>
        </div>
        <%= link_to "#carousel-example-generic", class: "carousel-control-prev", data:{slide: "prev"} do %>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <% end %>
        <%= link_to "#carousel-example-generic", class: "carousel-control-next", data:{slide: "next"} do %>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>

        <ol class="carousel-indicators hidden-sm-down">


          <li data-target="#carousel-example-generic" data-slide-to="0">
            <%= image_tag @fish.image %>
          </li>



          <li data-target="#carousel-example-generic" data-slide-to="1">
            <%= image_tag @fish.image_1 %>
          </li>



          <li data-target="#carousel-example-generic" data-slide-to="2">
            <%= image_tag @fish.image_2 %>
          </li>



          <li data-target="#carousel-example-generic" data-slide-to="3">
            <%= image_tag @fish.image_3 %>
          </li>


        </ol>
      </div>


    </div>
    <div class="col-md-6 col-12 product__info">
      <h1 class="product__info__name">
        <%= @fish.name %>
      </h1>
      <hr>

      <p class="alert alert-warning">
        This product is currently <strong>available</strong>.
      </p>

      <div class="product__info__description">
        <h3>Description</h3>
        <hr>
        <%= @fish.description.html_safe %>
      </div>
      <hr>

    </div>
  </div>

</div>
