<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <%= link_to "#", class: "logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" style="color: white; padding-right: 20px">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle" do %>
          Cay Thuy Sinh
        <% end %>
      </li>
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle" do %>
          Ca Thuy Sinh
        <% end %>
      </li>
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle" do %>
          Layout
        <% end %>
      </li>
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle" do %>
          Contact Me &nbsp;<i class="fa fa-facebook-square" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
