<!DOCTYPE html>
<html>
  <head>
    <title>KrkServer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "icon.png" %>
  </head>

  <body>
    <%= render "layouts/header/menu" %>
    <div class="container-fluid">
      <%= yield %>
      <div id="toTop"><i class="fa fa-arrow-up" aria-hidden="true"></i><%= t(".go_to_top_html") %></div>
    </div>
    <%= render "layouts/footer/footer" %>
  </body>
</html>
